 @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
    font-family: 'Cabin', sans-serif;
}

*,
*::before,

*::before,

*::after{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 3rem;
}

  
header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(43, 39, 49);

}

 
.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


  .menu_toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
  }
  
  .times {
    display: none;
  }
  
  .nav_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    z-index: 1250;
    background-color: rgb(43, 39, 48);
    padding: 4.4rem;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  
  .nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
  }
  
  .open .times {
    display: block;
    margin-top: -1rem;
  }
  
  .open .bars {
    display: none;
  }
  
  .open .nav_list {
    transform: translateX(0);
  }
  
  .open .nav::before {
    opacity: 1;
    transform: scale(1);
  }
  
  
  .nav_link {
    display: block;
    color: white;
    font-size: 1.4rem;
    letter-spacing: .02em;
    margin-right: -2px;
    transition: color 0.5s;
    text-decoration: none;
  }
  
  .nav_link:hover {
    color: rgb(219, 139, 139);
  }

  @media screen and (min-width: 900px) {
      .menu_toggle{
          display: none;
          
      }

      .nav{
            justify-content: space-between;
      }

      .nav_list {
        position: initial;
        width: initial;
        height: initial;
        background: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
      }
      .nav_items {
        margin: 1.24rem;
        border: none;
      }
      .nav_items:last-child {
        margin-right: 10px;
      }
      .nav_link {
        font-size: 1.3rem;
      }
      .active {
        position: relative;
      }


      
  }